<html>
<body>
<div width="100%" height="100%">
	<table width="100%" height="10%" align="center">
		<caption>视频列表</caption>
		<tr width="100%">
			<td>
			<a href="/upload/">上传</a>
			</td>
			<td>
				<a href="/video/">视频</a>
			</td>
			<td>
				<a href="/novel/">小说</a>
			</td>
		</tr>
	</table>
	<table width="100%" height="90%">
		{% if queryset %}
			{% for item in queryset %}
				<tr  width="100%">
					<td><a href="/video/play/{{ item.v_id }}/">{{ item.name }}</a></td>
					<td>{{ item.date  }}</td>
					<td>{{ item.size }}</td>
					<td><a href="/delete_video/{{ item.v_id }}">删除</a></td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>
</div>
<script>
	function submit_video(){
		document.forms[0].submit()
	}
	function submit_novel(){
		document.forms[1].submit()
	}
</script>
<body>
</html>
