<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>纸叠效果会员登录界面模板</title>
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/body.css" %}" /> 
</head>
<body>
<div class="container">
	<section id="content">
		<form action="" method="post">
			{% csrf_token %}
			<h1>会员登录</h1>
			<div>
				<center><table>
				<tr>
					<td><label>账号：</label></td><td>{{ uf.username }}</td>
				</tr>
				</table></center>
			</div>
			<div>
				<center><table>
				<tr>
					<td><label>密码：</label></td><td>{{ uf.password }}</td>
				</tr>
				</table></center>
			</div>
			 <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div> 
			<div>
				<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
				<a href="#">忘记密码</a>
				<a href="/register/">注册</a>
			</div>
		</form>
		<!-- <div class="button">
			<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
			<a href="#">下载网盘</a>	
		</div> -->
	</section>
</div>


<!--<br><br><br><br>
<div style="text-align:center;">
<p>来源:More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>-->
</body>
</html>
